@font-face {
  font-family: 'BebasNeue';
  src: url('../fonts/BebasNeue/BebasNeue.eot');
  src: url('../fonts/BebasNeue/BebasNeue.woff2') format('woff2'),
       url('../fonts/BebasNeue/BebasNeue.woff') format('woff'),
       url('../fonts/BebasNeue/BebasNeue.ttf') format('truetype'),
       url('../fonts/BebasNeue/BebasNeue.svg#BebasNeue') format('svg'),
       url('../fonts/BebasNeue/BebasNeue.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansLightItalic';
  src: url('../fonts/Open-Sans-LightItalic/OpenSans-LightItalic.eot');
  src: url('../fonts/Open-Sans-LightItalic/OpenSans-LightItalic.woff2') format('woff2'),
       url('../fonts/Open-Sans-LightItalic/OpenSans-LightItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansLightItalic';
  src: url('../fonts/Open-Sans-LightItalic/OpenSansLight-Italic.woff') format('woff'),
       url('../fonts/Open-Sans-LightItalic/OpenSansLight-Italic.ttf') format('truetype'),
       url('../fonts/Open-Sans-LightItalic/OpenSansLight-Italic.svg#OpenSansLight-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans/OpenSans-Regular.eot');
  src: url('../fonts/OpenSans/OpenSans-Regular.woff2') format('woff2'),
       url('../fonts/OpenSans/OpenSans-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans/OpenSans.woff') format('woff'),
       url('../fonts/OpenSans/OpenSans.ttf') format('truetype'),
       url('../fonts/OpenSans/OpenSans.svg#OpenSans') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Bold';
  src: url('../fonts/OpenSans-Bold/OpenSans-Bold.eot');
  src: url('../fonts/OpenSans-Bold/OpenSans-Bold.woff2') format('woff2'),
       url('../fonts/OpenSans-Bold/OpenSans-Bold.woff') format('woff'),
       url('../fonts/OpenSans-Bold/OpenSans-Bold.ttf') format('truetype'),
       url('../fonts/OpenSans-Bold/OpenSans-Bold.svg#OpenSans-Bold') format('svg'),
       url('../fonts/OpenSans-Bold/OpenSans-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'BebasNeueLight';
  src: url('../fonts/BebasNeueLight/BebasNeueLight.eot');
  src: url('../fonts/BebasNeueLight/BebasNeueLight.woff2') format('woff2'),
       url('../fonts/BebasNeueLight/BebasNeueLight.woff') format('woff'),
       url('../fonts/BebasNeueLight/BebasNeueLight.ttf') format('truetype'),
       url('../fonts/BebasNeueLight/BebasNeueLight.svg#BebasNeueLight') format('svg'),
       url('../fonts/BebasNeueLight/BebasNeueLight.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
