body.modal-open {
    overflow: hidden;
}

a:hover {
    color: $blue;
    transition: 0.5s;
}

nav {
    position: fixed;
    top: 50%;
    z-index: 100;
    transform: translateY(-50%);
    left: 3rem;
    transition: 0.2s ease-out;

    font-family: $title;
    font-size: 1.5rem;

    &.hide {
        left: -8rem;
        transition: 0.2s ease-out;
    }
    ul {
        li {
            cursor: pointer;
            span.number {
                &.active {
                    color: $blue;
                }
            }
        }
    }
}

@media (max-width : 760px) {
    nav {
        position: fixed;
        transform: none;
        height: 0;
        width: 100vw;
        top: 0;
        left: 0;
        font-family: $title;
        font-size: 1.5rem;
        transition: 0.5s;

        &.hide {
            left: 0;
        }

        .menu-icon {
            width: 2.5rem;
            height: 2.5rem;
            position: absolute;
            z-index: 10000;
            background-color: $blue;
            background-image: url("../img/menu_open.png");
            background-size: 90% 90%;
            background-repeat: no-repeat;
            background-position: center;
            top: 2rem;
            right: 2rem;
        }

        ul {
            position: relative;
            opacity: 0;
            display: flex;
            top: -100vh;
            width: 100%;
            height: 100%;
            flex-direction: column;
            background-color: white;
            left: 0;
            z-index: 10000;
            align-items: center;
            justify-content: center;
            transition: 0.5s , position 0s linear 0.5s;
            li {
                text-align: center;
                padding: 2rem;
                transition: 0.5s;
                position: relative;
                &:not(:last-child)::after {
                    content: '';
                    position: absolute;
                    width: 75%;
                    height: 1px;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin: auto;
                    background-color: $blue;
                }
            }
        }

        &.active {
            // padding: calc(1rem + 3px);
            // transition: 0.5s;
            height: 100vw;

            .menu-icon {
                z-index: 10002;
                background-image: url("../img/menu_close.png");
                transition: right 0s;
            }

            ul {
                position: fixed;
                opacity: 1;
                top: 0;
                transition: 0.5s , position 0s linear 0.5s;
            }
        }
    }
}

.content {
    padding: 1rem;
    flex-shrink: 0;
    .border-bellow {
        flex-shrink: 0;
        position: relative;
        width: 100%;
        height: calc(100vh - 2rem);
        border: 3px solid black;
        display: flex;
        align-items: center;
        justify-content: center;

        .main-title {
            position: relative;
            padding: 1rem 2rem;
            font-family: $title;

            h1 {
                font-size: 4rem;
                padding: 0;
                margin: 0;
            }

            .subtitle {
                position: absolute;
                background-color: white;
                bottom: -1rem;
                left: 50%;
                width: 70%;
                text-align: center;
                transform: translateY(50%) translateX(-50%);
                font-size: 2rem;
            }

            img {z-index: -1;
                position: absolute;
                width: calc(100% + 15px);
                height: calc(100% + 15px);
                top: -10px;
                right: -10px;}

            svg {
                position: absolute;
                z-index: -1;
                top: -2rem;
                left: -2rem;
                width: calc(100% + 4rem);
                height: calc(100% + 4rem);
            }

            .ctn-before-border {
                // border: 5px solid $blue;
                position: absolute;
                z-index: -1;
                top: 0px;
                left: 0px;
                width: calc(100%);
                height: calc(100%);
            }

            img {
                z-index: -1;
                position: absolute;
                width: calc(100% + 15px);
                height: calc(100% + 15px);
                top: -10px;
                right: -10px;
            }

        }

        .arrow-bottom {
            position: absolute;
            bottom: 10%;
            animation: arrowbottom 1.5s infinite;

            img {
                width: 4rem;
                height: 4rem;
                cursor: pointer;
            }
        }
    }
}

#home.content {
    .border-bellow {
        flex-direction: column;
        .event-alert {
            margin-top: 5rem;
            font-family: $body;
            max-width: 600px;
            text-align: center;
            font-size: 1.2rem;
        }

        .ctn-resume {
            margin-top: 2rem;
            background: $blue;
            padding: 1rem 3rem;
            display: flex;
            justify-content: center;
            align-items: center;
            a {
                font-size: 2rem;
                font-family: $title;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    width: 2rem;
                    margin-right: 1rem;
                }
            }
        }
    }
}

button {
    background-color: $blue;
    border: 1px solid $blue;
    font-family: $title;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    position: relative;
    transition: 0.5s;

    &::after {
        position: absolute;
        content: '';
        background-color: $blue;
        z-index: 1000;
        height: 100%;
        top: 0;
        left: 0;
        background-image: url('../img/arrow_right.png');
        background-size: auto 50%;
        background-repeat: no-repeat;
        background-position: center;
        transition: 0.5s;
        width: 0%;
    }

    &:hover {
        &::after {
            width: 100%;
        }
    }
}

.mobile {
    display: none;
}

@media (max-width : 760px){
    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }
}


@media (max-width : 760px) {
    body {
        // overflow: scroll;
        // overflow-x: hidden;
    }
    #home.content {
        .border-bellow {
            padding: 1rem;
            .main-title {
                padding: 1rem 1rem;
                font-size: 3rem;
                text-align: center;

                h1 {
                    font-size: 3rem;
                    text-align: center;
                    position: relative;
                    color: $blue;
                    &::before {
                        content: '';
                        position: absolute;
                        background-color: $blue;
                        height: 3px;
                        width: 100%;
                        top: 0.2rem;
                        left: 0;
                    }

                    &::after {
                        content: '';
                        position: absolute;
                        background-color: $blue;
                        height: 3px;
                        width: 100%;
                        bottom: 0.5rem;
                        left: 0;
                    }
                }

                .subtitle {
                    bottom: 0;
                    font-size: 1.5rem;
                    color: white;
                    background-color: $blue;
                }

                svg, svg.active {
                    display: none;
                }
            }

            .event-alert {
                margin-top: 3rem;
                font-size: 1rem;
            }

            .arrow-bottom {
                img {
                    width: 3rem;
                    height: 3rem;
                }
            }
        }
    }
}

@media (max-width : 350px) {
    #home.content {
        .border-bellow {
            .main-title {

            }

            .event-alert {

            }

            .ctn-resume {

            }

            .arrow-bottom {

            }
        }
    }
}
